<div class="container">
    <h1 class="title">Theater List</h1>

    <div *ngIf="allData && allData.hasOwnProperty('theatre')">
        <mat-card class="mb-5" *ngFor="let theater of allData['theatre']" [routerLink]="['/show_list', theater['theatre_name']]">
            <mat-card-content class="theater">
                <div>
                    <div>
                        {{theater['theatre_name']}}
                    </div>
                    <div class="address">{{theater['address']}}</div>
                </div>
                <div>
                    <div class="mr-10">Customer Rating: <span class="rating"></span>{{theater['customer_rating']}}</div>
                    <a href="{{theater['website']}}" target="_blank">
                        <mat-icon title="Website">web</mat-icon>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>