.container {
    margin: 0px 30px;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: end;
    align-items: center;
}

.headers-align .mat-expansion-panel-header {
    height: 90px;
}

.headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.address {
    font-weight: 100;
    font-size: 11px;
}

.rating:before {
    content: "\2605";
    color: gold;
    font-size: 20px;
    padding-right: 4px;
}

.theater{
    display: flex;
    justify-content: space-between;
}

.title{
    text-align: center;
}